---
import '../styles/index.scss';

import { getCollection } from 'astro:content';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

const posts = (await getCollection('blog'));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="./favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<Navbar/>
		<header class="main-header">
			<h1>Sam's Blog</h1>
			<p class="subtitle">Writings about startups, school, stories, and more.</p>
			<a href="#posts" class="button">Start Reading</a>
		</header>
		<main id="posts" class="posts">
			{
				posts.map((post) => (
					<a href={`/blog/${post.id}/`} class="post">
						{post.data.heroImage && (
							<img src={post.data.heroImage} alt="Post Image" />
						)}
						<div class="post-info">
							<h2 class="title">{post.data.title}</h2>
							<p class="date">
								{post.data.pubDate}
							</p>
							<p class="description">
								{post.data.description}
							</p>
						</div>
					</a>
				))
			}
		</main>
		<Footer/>
	</body>
</html>
